.text-page .main-container {
    width: 700px;
    margin: 0 auto;
}

.text-page .main-container * {
    text-align: left;
}

.text-page .main-container h2 {
    font-size: 20pt;
    margin-bottom: 30px;
}

.text-page .main-container p {
    padding-left: 20px;
}

.text-page .main-container a {
    color: #288BEA;
}

.text-page .main-container a:hover {
    color: #147CDD;
}
